.input{
    margin: auto;
    width: 50%;
    padding: 10px;
}
h1{
    padding: 10px;
}
span{
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
mat-toolbar{
    font-size: 250%;
    padding: 20px;
    margin: 10px;
}
ul{
    margin: auto;
    width: 40%;
    padding: 10px;
}
table{
    text-align: center;
}
tr,th,td{
 padding: 5px;
}
